<!DOCTYPE html>
<html>
<head>
  <title>My first Vue app</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
  <plan-picker></plan-picker>
  <todo-item>
    <p>Hello world</p>
    <p>Hello world12</p>
  </todo-item>


  </div>

  <script type="text/x-template" id="plan-template">
    <div @click="select">
      <p>{{name}} {{isSelected}} </p>
      <p></p>
    </div>
  </script>

  <script type="text/x-template" id="todo-item-template">
    <div>
       <slot></slot>
    </div>

  </script>
  <script type="text/x-template" id="plan-picker-template">
    <div>
      <plan v-for="plan in plans" :name="plan" :selected-plan="selectedPlan" @select="selectPlan"> </plan>
    </div>
  </script>

 <script src="app.js"></script>
</body>
</html>
